body {
    margin: 0;
}

h1 {
    margin: auto;
    padding-top: 10px;
    text-align: center;
}

.header {
    height: 45px;
    text-align: center;
}

button {
    display:inline-block;
    position:relative;
    top:15px;
    margin:0 8px;
}

.container {
    width:640px;
    height:640px;
    font-size: 0;
    margin: 0 auto;
}

div>div {
    display: inline-block;
    background-color: #E3E3E3;
    border: 1px solid white;
}