<div class="row">
  <div class="box box-header header-title col-12">
    <h4>Post</h4>
  </div>
</div>

<%= form_for @new_post, :html => { class:"row" } do |f| %>
  <div class="box box-body padding-top padding-bottom col-12">
    <%= f.text_area :body, class:"form-control", rows: 3,
        placeholder: "Tell the world something..."%>
  </div>
  <div class="w-100"></div>
  <div class="box box-footer col-12">
    <%= f.submit "Post", class: "btn btn-primary pull-right" %>
  </div>
<% end %>