<div class="container">

  <%= render partial: "users/shared/cover" %>

  <main id="timeline">
    <!-- Create Post -->
    <% if @new_post %>
      <%= render partial: "new_post",
                          :locals => { user: @user, post: @new_post } %>
    <% end %>
    <!-- Feed Posts -->
    <div id="posts-container">
      <%= render @posts %>
    </div>
  </main>

</div>
