<h3>Index</h3>
<br>

<% if @kittens.empty? %>
  <p>No Kittens.</p>
<% else %>
  <% @kittens.each do |kitten| %>
    <p>Kitten <%= kitten.name %></p>
    <p>Age: <%= kitten.age %>, Cuteness: <%= kitten.cuteness %>, Softness: <%= kitten.softness %></p>
    <br>
  <% end %>
<% end %>